[Desktop Entry]
Type=Application
Name=SimPower
Comment=Tuning GUI for Fanatec wheel bases using the hid-fanatecff driver
Exec=FFB_Tuner.py
Icon=io.github.benryboi.FanatecLinux
Terminal=false
Categories=Utility;HardwareSettings;
Keywords=fanatec;simracing;steering;wheel;
StartupWMClass=io.github.benryboi.FanatecLinux
